.boards {
  display: inline-grid;
}

.account-pp {
  width: fit-content;
  background-color: #ffe8ed;
  border-radius: 20px;
  padding: 20px;
}

.account-elements {
  display: flex;
}

.account-infos ul {
  list-style-type: none;
}

.pills {
  padding-left: 0px;
  width: 20em;
}

.pills li {
  margin-bottom: 0.5em;
}

.badge {
  padding: 8px;
}
