.product {
  display: flex;
  justify-content: center;
}

.product-image {
  display: flex;
  margin-right: 4em;
  background: #FFFFFF;
  width: 350px;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

.product-content {
  text-align: left;
}

.product-image img {
  width: 350px;
  object-fit: contain;
  border-radius: 20px;
}

.product-content h1 {
  margin-bottom: 0;
}

.center-content {
  display: flex;
  justify-content: center;
}

.category {
  color: #999999;
  font-size: 16px
}


@media (max-width: 767px) {
  .product {
    display: block;
    justify-content: center;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .product-image {
    margin-right: 0em;
    background: #FFFFFF;
    width: fit-content;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-content {
    text-align: center;
  }
}
