 <div class="navshow">
  <div class="backto">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to "Back to home", foods_path  %>
  </div>
</div>


<div class="center-content">
  <div class="boards">
    <div class="navshow mb-0 mt-0">
      <h1>Food reserved</h1>
    </div>
    <%= render "bookings/items" %>
  </div>
</div>

<!-- Pour le nombre total de produit dans panier @bookings.count -->
