<p>Hello</p>

<% @bookings.each do |booking| %>
<%= booking.user_id %> <%= booking.food_id %>
<% end %>


<%# <h1>Mon Panier</h1>
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Voir mes produits </a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Ajouter un nouveau produit</a>
  </li>
  <li>
   <%= link_to "Retour au frigo", "/foods", class: "nav-link" %>

  <%# </li>
</ul> %>
