<footer>
  <div class="icon-bar">
    <%= link_to "<i class=\"fa fa-home\"></i><div class=\"footer-text\">Home</div>".html_safe, "/"%>

    <%= link_to "<i class=\"fa fa-utensils\"></i><div class=\"footer-text\">My Reservation</div>".html_safe, "/bag" %>
    <div class="bubble">
      <div class="bubble-element">
        <%= Booking.where(user: current_user).count %>
      </div>
    </div>

    <%= link_to "<i class=\"fa fa-user\"></i><div class=\"footer-text\">Account</div>".html_safe, "/dashboard"%>
  </div>
</footer>

<!-- js pour les tooltips -->
<script>
document.querySelectorAll('.tt').forEach(t => {
    new bootstrap.Tooltip(t)
  })
</script>
