<footer>
  <div class="icon-bar">
    <%= link_to "<i class=\"fa fa-home\"></i><div class=\"footer-text\">Home</div>".html_safe, "/"%>
    <%= link_to "<i class=\"fa fa-bag-shopping\"></i><div class=\"footer-text\">Bag</div>".html_safe, "/foods" %>
    <%= link_to "<i class=\"fa fa-user\"></i><div class=\"footer-text\">Account</div>".html_safe, "/users/sign_in"%>
  </div>
</footer>
