<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-3 px-3">
  <div class="container-fluid">
    <%= link_to "/foods", class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</div>
