<h1> Hello

<% if current_user %>
<%= current_user.first_name %>,
<% else %>
!
<% end %>
</h1>

<%= render "foods/card" %>


<!-- <% @foods.each do |food| %>

<h2> <%= link_to food.name, food_path(food) %> </h2>

<% end %>-->

<%= link_to "Add a food", new_food_path  %>
