/** primary **/

.btn-primary, .btn-secondary {
  padding: 1em 3em 1em 3em;
  font-weight: 500;
  border-radius: 50px;
}

.btn-primary, .btn-secondary a {
  color: $white;
}

.btn-primary:hover, .btn-secondary a:hover {
  color: $white;
}

/** secondary **/

.btn-secondary {
  padding: 0.5em 1.5em 0.5em 1.5em;
}

.btn-secondary i {
  padding-right: 5px;
}

.btn-add {
  color: $white;
  padding: 12px;
  width: 58px;
  font-size: 20px;
}

.btn-add:hover {
    color: $white;
}
