/** primary **/

.btn-primary, .btn-secondary {
  padding: 1em 3em 1em 3em;
  font-weight: 500;
  border-radius: 50px;
}

.btn-primary a, .btn-secondary a {
  color: $white;
}

.btn-primary a:hover, .btn-secondary a:hover {
  color: $white;
}

/** secondary **/

.btn-secondary {
  padding: 0.5em 1.5em 0.5em 1.5em;
}

.btn-secondary a {
  padding-left: 5px;
}
