/** primary **/

.btn-primary, .btn-secondary {
  padding: 1em 3em 1em 3em;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 1em;
  box-shadow: 0 4px 10px 2px #eeeeee;
}

.btn:hover{
  color: #ffffff;
}

.btn-primary input {
  color: $white;
}

.btn-primary, .btn-secondary a {
  color: $white;
}

.btn-primary:hover, .btn-secondary a:hover {
  color: $white;
}

/** secondary **/

.btn-secondary {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #6c757d;
  border: 2px solid #6c757d;
  border-radius: 30px;
  background-color: #f4f4f4;
}

.btn-secondary i {
  padding-right: 5px;
}

.btn-add {
  color: $white;
  padding: 12px;
  width: 58px;
  height: 58px;
  font-size: 20px;
}

.btn-add:hover {
  color: $white;
}

.search-bar button {
  margin-left: -37px;
  padding: 0px 10px 0px 10px;
  color: #666;
  border: 1px solid #ced4da;
  background: $white;
  border-left: 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/** patch bootstrap **/
input.btn {
  padding: 0px;
}

button.btn.btn-secondary {
  margin-top: 0;
}
/** **/
