.foodcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 2em;
}

.foodcards img {
  width: inherit;
}

.card {
  padding: 20px;
  border-radius: 20px;
}

.expirydate {
  color: #999999;
  font-size: 14px;
}

.expirydate span {
  display: block;
}

@media (max-width: 767px) {
  .foodcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .foodcards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
