.foodcards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 0em;
  width: 60vw;
}

.foodcards img {
  width: inherit;
}

.card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 2px #eeeeee;

  animation-duration: 0.3s;
  animation-name: animate-fade;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inner-card {
  padding: 2em;
}

.expirydate {
  color: #999999;
  font-size: 14px;
  bottom: -10px;
  overflow: hidden;
  white-space: nowrap;
  width: 146px;
  margin-left: auto;
  margin-right: auto;
}

.card form {
  display: grid;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .foodcards {
    grid-template-columns: 1fr 1fr;
  }
  .expirydate {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .foodcards {
    grid-template-columns: 1fr 1fr;
  }
}
