.foodcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.foodcard {
  border-radius: 12px;

}

/** Bootstrap carousel patch **/

.carousel-inner {
  border-radius: 12px;
}

.carousel-item img
 {
  object-fit: cover;
  aspect-ratio: 20 / 19;
}

.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

/** Responsive **/

@media (max-width: 575px) {
  .foodcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .foodcards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
