.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 6em;
}

.navbar-brand {
  margin-top: 5px;
  margin-right: 1em;
}
