.navbar-lewagon {
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 6em;
}

.navbar-brand {
  margin-top: 5px;
  margin-right: 5vw;
}
