.helpfoodnav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar form input {
  background-color: $white;
  height: 3em;
  border-radius: 5px;
}

.search-bar .form-control:focus {
  background-color: $white;
}

.search-bar form input[type="submit"] {
  background-color: transparent;
}
